{% extends 'notes/base.html'%}

{% block content %}
    <div class="card bg-warning" style="">
        <h1 class="header" style="text-align: center !important">Coming soon!</h1>
        <!--<h1 class="header" style="text-align: center !important">GET THE APP NOW!</h1>-->
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-warning">
                <h3><a class="card-title" href="#"> Android</a></h3>
            </li>
            <li class="list-group-item bg-warning">
                <h3><a href="#"> iOS</a></h3>
            </li>
        </ul>
    </div>
{% endblock %}
